<div
  class="container d-flex justify-content-center flex-column flex-center my-5"
>
  <div class="my-5">
    <h4>YOUR LOGO GOES HERE</h4>
  </div>

  <div class="my-5">
    <h3 style="font-weight: 900; font-size: 40px">Welcome to Bucket, Sam!</h3>
    <p class="text-center py-3" style="font-size: 22px">
      One last step and then we're all set.
    </p>
  </div>

  <div class="my-3 w-100 text-center">
    <h3 style="font-weight: 900; font-size: 22px; color: rgb(89, 101, 128)">
      What's the name of your organization?
    </h3>
    <div>
      <input
        type="text"
        style="
          border: 0;
          border-bottom: 2px solid rgb(143, 154, 179);
          width: 50%;
          margin-top: 40px;
        "
        placeholder="Your company name"
      />
    </div>
    <div class="text-center" style="margin-top: 60px; margin-bottom: 30px">
      <button
        class="btn btn-gradient btn-lg"
        mdbBtn
        style="font-weight: 900"
        (click)="overview()"
      >
        Create your organization
      </button>
    </div>
  </div>
</div>
