<div class="w-100">
  <div class="row">
    <div class="col-md-6">
      <div class="container-fluid">
        <h5>YOUR LOGO GOES HERE</h5>
      </div>
      <div
        class="container d-flex flex-column flex-center-start justify-content-evenly"
        style="margin-top: 200px; padding: 80px"
      >
        <h3 class="text-left py-2" style="font-weight: 900; font-size: 45px">
          Try Bucket for yourself
        </h3>
        <p class="text-left" style="font-size: 26px; font-weight: 200">
          Enjoy money-streaming and start getting paid today.
        </p>
        <div class="text-center my-5">
          <button
            class="btn btn-gradient btn-lg"
            mdbBtn
            style="font-weight: 900"
            (click)="signin()"
          >
            Sign in to bucket
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 bg-gradient">
      <div
        class="container d-flex flex-column flex-center-start justify-content-evenly"
        style="margin-top: 200px; padding: 80px"
      >
        <h3 class="text-left py-2" style="font-weight: 900; font-size: 45px">
          Try Bucket with your team
        </h3>
        <p class="text-left" style="font-size: 26px; font-weight: 200">
          create your organization and stream payroll to your team
        </p>

        <div class="text-center my-5">
          <button
            class="btn btn-white btn-lg"
            mdbBtn
            (click)="register()"
          >
            Create a Bucket organization
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
