<div
  class="container d-flex justify-content-center flex-column flex-center my-5"
>
  <div class="my-5">
    <h4>YOUR LOGO GOES HERE</h4>
  </div>

  <div class="my-5">
    <h3 style="font-weight: 900; font-size: 40px">
      First, sign in with your email
    </h3>
    <p class="text-center py-3" style="font-size: 22px">
      We suggest using the email you use at work
    </p>

    <div class="text-center my-5">
      <button
        class="btn btn-outline-primary py-3"
        style="
          border-radius: 50px;
          font-weight: 700;
          border-width: 2px;
          padding-left: 60px;
          padding-right: 60px;
        "
        mdbBtn
      >
        <span class="px-3">
          <img src="../../../assets/icons/icons8-google-20.png" alt="google" />
        </span>
        Continue with google
      </button>
    </div>
  </div>
</div>
