<div class="row">
  <div
    class="col-lg-2 pl-5 pr-1 text-right"
    style="background: rgb(246, 246, 248); height: 100vh"
  >
    <div class="logo">
      <h4>YOUR LOGO</h4>
    </div>

    <div class="d-flex flex-center flex-column">
      <div class="py-3 active">Overview</div>
      <div class="py-3">Streams</div>
      <div class="py-3">History & Report</div>
      <div class="py-3">Manage team</div>
      <div class="py-3">Settings</div>
    </div>
  </div>

  <div class="col-lg-10">
    <div class="row">
      <div class="col-lg-10">
        <div class="" style="margin-left: 100px; margin-top: 200px">
          <div>
            <h2 style="font-weight: 900; font-size: 52px">Hello Sam,</h2>
            <p
              style="
                font-weight: 200;
                font-size: 25px;
                color: rgb(143, 157, 179);
              "
            >
              Wednesday, July 22 2020
            </p>
          </div>

          <div style="padding-top: 60px">
            <div class="row">
              <div class="col-lg-4 text-left pb-2">
                <h3 style="color: rgb(46, 107, 243); font-weight: 900">13</h3>
                <p style="font-size: 20px">Team members at work</p>
              </div>
              <div class="col-lg-4 text-left pb-2">
                <h3 style="color: rgb(46, 107, 243); font-weight: 900">11</h3>
                <p style="font-size: 20px">Active streams</p>
              </div>
              <div class="col-lg-4 text-left pb-2">
                <h3 style="color: rgb(245, 66, 143); font-weight: 900">4</h3>
                <p style="font-size: 20px">Streams you have to approve</p>
              </div>
            </div>
            <div class="row my-5">
              <div class="col-lg-4 text-left pb-2">
                <h3 style="color: rgb(192, 104, 233); font-weight: 900">
                  $3,412
                </h3>
                <p style="font-size: 20px">Streamed today</p>
              </div>
              <div class="col-lg-4 text-left pb-2">
                <h3 style="color: rgb(251, 133, 98); font-weight: 900">
                  $5,672
                </h3>
                <p style="font-size: 20px">Expected stream</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-2 py-2 mr-0">
        <div class="d-flex flex-row flex-end">
          <div class="px-2">
            <button
              class="btn btn-md text-center"
              style="
                border-radius: 50%;
                background: rgb(251, 251, 254);
                box-shadow: 0 2px 6px 3px lavender;
              "
              mdbBtn
            >
              <span>
                <i class="fas fa-bell" style="color: rgb(143, 157, 179)"></i>
              </span>
            </button>
          </div>

          <div class="px-2">
            <button
              class="btn btn-md text-white text-center"
              style="border-radius: 50%; background: rgb(143, 157, 179)"
            >
              A
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
