/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

.btn-gradient {
  background-image: linear-gradient(
    to right,
    rgba(51, 178, 248),
    rgb(109, 148, 255),
    rgb(124, 95, 232)
  );
  border-radius: 50px;
  color: white;
  font-size: 16px;
  font-weight: 500;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
}
